@import url("https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap");
body {
  margin: 0;
  font-family: "Amiri", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
ul {
  list-style: none;
}
